[submodule "XhsApi"]
	path = XhsApi
	url = https://github.com/Secretszz/XhsApi.git
[submodule "InstagramApi"]
	path = InstagramApi
	url = https://github.com/Secretszz/InstagramApi.git
[submodule "FacebookApi"]
	path = FacebookApi
	url = https://github.com/Secretszz/FacebookApi.git
