[submodule "WxApi"]
	path = WxApi
	url = https://github.com/Secretszz/ThirdSDK_WxApi.git
[submodule "InstagramApi"]
	path = InstagramApi
	url = https://github.com/Secretszz/ThirdSDK_InstagramApi.git
[submodule "FacebookApi"]
	path = FacebookApi
	url = https://github.com/Secretszz/ThirdSDK_FacebookApi.git
[submodule "XhsApi"]
	path = XhsApi
	url = https://github.com/Secretszz/ThirdSDK_XhsApi.git
[submodule "Common"]
	path = Common
	url = https://github.com/Secretszz/ThirdSDK_Common.git
[submodule "QQApi"]
	path = QQApi
	url = https://github.com/Secretszz/ThirdSDK_QQApi.git
